/* responsive css */
@media screen and (min-width: 1900px){
    .container{
        max-width: 1700px !important;
    }
    .tp-header-style-3 .tp-header-main-menu > nav > ul > li > a {
        margin-left: 46px;
    }
    .tp-header-menu-border-2::after {
        top: -14px !important;
        height: 135% !important;
    }
}

@media screen and (min-width: 1440px){
   .about-com-pic::after {
    width: 72%;
   }
    .tp-about-right-wrap .tp-about-2-thumb-text {
    bottom: -8px !important; 
    }
    .tp-about-right-wrap .tp-about-thumb-sm {
    bottom: -32px !important;
    }
    .tp-blog-thumb-main img {
    height: 350px !important;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .widget_info{
        display: none !important;
    }
    .main-header__logo {
        justify-content: start !important;
    }
    .tp-header-style-3 .tp-header-bar button {
        margin-left: 70px !important;
    }
    .tp-about-2-thumb-text h6 i {
        font-size: 22px !important;
    }
    .tpoffcanvas__logo a img{
        width: 65% !important;
    }
    .tpoffcanvas__title p {
        text-align: justify;
    }
    .tpoffcanvas__input {
        margin-bottom: 0px !important;
    }
}

@media (max-width:1024px) {
    .widget_info{
        display: none !important;
    }
    .tp-header-style-3 .tp-header-bar button {
        margin-left: 25px !important;
    }
    .main-header__logo {
        justify-content: start !important;
    }
    .tp-service-area.pt-120{
        padding-top: 50px !important;
    }
    .tpoffcanvas__logo a img{
        width: 65%;
    }
    .tpoffcanvas__title p {
        text-align: justify;
    }
    .bd-section-title {
        font-size: 22px;
    }
    .ts-about-area.padding{
        padding-bottom: 0px !important;
    }
}

@media (max-width: 768px) {
    .widget_info{
        display: none !important;
    }
    .main-header__logo {
        justify-content: start !important;
    }  
    .tpoffcanvas__logo a img{
        width: 60% !important;
    } 
    .tpoffcanvas__title p {
        text-align: justify;
    } 
    .tpoffcanvas__social {
        margin-top: 0px !important;
    }
    .tpoffcanvas__input {
        margin-bottom: 0 !important;
    }
    .bd-about-area .row{
        flex-direction: column-reverse;
    }
    .tp-about-right-wrap {
        margin-bottom: 0 !important;
    }
    .tp-choose-3-area .row.reverse{
        flex-direction: column-reverse;
    }
    .main-header__logo .logo-text1 p {
        font-size: 9px !important;
        letter-spacing: 6px !important;
    }
    .main-header__logo .logo-text1 h1 {
        font-size: 22px !important;
    }
    .ts-about-thumb .ts-about-img2 {
        top: 0% !important;
        left: 0% !important;
    }
    .ts-about-area .row{
        flex-direction: column-reverse;
    }
    .ts-about-thumb .ts-about-img4 {
        bottom: 0% !important;
    }
    .ts-about-area.padding{
        padding-bottom: 0px !important;
    }
    .history-two__wrapper::after {
        display: none;
    }
    .history-two__images::after {
        display: none;
    }
    .history-two__border {
        width: 60%;
    }
    .history-two__images {
        justify-content: center;
    }
    .history-two__content::after {
        top: 60.6%;
    }
    .history-two__content::after:nth-child(3) {
        top: 58.6%;
    }
    .tp-blog-item{
        margin-top: 50px;
    }
    .tp-service-area.pt-120{
        padding-top: 0px !important;
    }
    .tp-blog-thumb-main img {
        height: auto !important;
    }
    .gallery-img img {
        height: auto !important;
    }
}

@media (max-width: 767px) {
    .tm-purchase-floating-box {
        top: 75%;
    }
    .tpoffcanvas__contact-info ul li a {
        font-size: 13px;
    }
    .tpoffcanvas__input {
        margin-bottom: 0 !important;
    }
    .widget_info .widget_icon {
        font-size: 20px;
        width: 35px;
        height: 35px;
    }
    .widget_icon i {
        bottom: 7px;
        right: 8px;
    }
    .d-sm-none{
        display: none !important;
    }
    .tpoffcanvas__logo img{
       width: 75%;
    }
    .bd-about-area .reverse{
        flex-direction: column-reverse;
    }
    .back-to-top-wrapper {
        right: 8px !important;
        bottom: 20px !important;
    }
    .bd-about-wrapper.style-one .bd-about-thumb::before {
        height: 200px;
    }
    .bd-about-wrapper.style-one .bd-about-thumb-small {
        bottom: -200px;
    }
    .tp-service-bg {
        /* margin-top: 100px; */
    }
    .widget_info{
        display: none !important;
    }
    .main-header__logo a h1 {
        font-size: 20px !important;
    }
    .main-header__logo p {
        font-size: 11px !important;
        letter-spacing: 4px !important;
    }
    .main-header__logo img {
        height: 35% !important;
        width: 20%;
    }
    .history-two__wrapper .col-lg-6:first-child .history-two__border {
        margin-top: 50px;
    }
    .history-two__wrapper .col-lg-6:nth-child(1) {
        order: 0;
    }
    .history-two__wrapper .col-lg-6:nth-child(2) {
        /* order: 1; */
    }
    .history-two__wrapper .col-lg-6:first-child + .col-lg-6 .history-two__images {
        padding-top: 50px;
    }
    .history-two__wrapper .col-lg-6:nth-child(3) {
        /* order: 3; */
      }
      .history-two__wrapper .col-lg-6:nth-child(4) {
        /* order: 2; */
      }
      .history-two__wrapper .col-lg-6:nth-child(5) {
        /* order: 4; */
      }
      .history-two__wrapper .col-lg-6:nth-child(6) {
        /* order: 5; */
      }
      .history-two__wrapper::after {
        display: none;
    }
    .history-two__content::before {
        display: none;
    }
    .history-two__content::after {
        display: none;
    }
    .history-two__images--right {
        padding-left: 50px;
    }
    .history-two__border {
        margin-left: 45px;
    }
    .bd-about-wrapper.style-one .bd-about-content-wrapper {
        margin-left: 0px;
    }
    .tp-about-icon span {
        margin-right: 20px !important;
    }
    .tp-about-icon-text h5 {
        font-size: 18px !important;
    }
    .tp-about-right-wrap .tp-about-thumb-sm img {
        right: 0 !important;
        width: 100% !important;
    }
    .tp-choose-3-area .reverse{
        flex-direction: column-reverse;
    }
    .tp-service-slider-arrow {
        padding-top: 25px;
    }
    .breadcrumb__height {
        padding-top: 200px !important;
        padding-bottom: 70px !important;
    }
    .ts-about-area .reverse{
        flex-direction: column-reverse;
    }
    .bd-section-title {
        font-size: 19px;
    }
    .site-title-tagline {
        font-size: 15px;
    }
    .content-list-icon {
        margin-right: 14px;
    }
    .content-list1 {
        padding: 80px 50px !important;
    }
    .history-two__images::after {
       display: none;
    }
    .tp-blog-item{
        margin-bottom: 50px !important;
    }
    .tp-service-area .col-lg-4.mt-50{
        margin-top: 0px !important;
    }
    .tp-shop-details__right-warp{
        padding-top: 45px;
    }
    .work-process-one__col{
        margin-bottom: 35px;
    }
    .container{
        max-width: 767px;
    }
    .tp-header-style-3 .tp-header-bar button {
        margin-left: 0 !important;
    }
    /* .tm-purchase-floating-box {
        right: 7px;
    } */
}

.tpoffcanvas__logo a img{
    width: 65%;
}
.tpoffcanvas__title p {
    text-align: justify;
}
.tpoffcanvas__input {
    margin-bottom: 0px !important;
}
/* responsive css */
